.NewList-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.NewListItemButton {
	width: 16%;
	height: 4rem;
	margin-bottom: 2rem;
	border: none;
	padding: 0.7rem 1rem;
	border-radius: 0.8rem;
	color: skyblue;
	background-color: snow;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	display: block;
}

.NewListItemButton:active {
	color: white;
	transform: translateY(0.2rem);
}

.NewListItemButton:hover:not(:disabled) {
	background: skyblue;
	color: white;
}

.NewListItemInput {
	width: 80%;
	margin-bottom: 2rem;
	border: none;
	padding: 0.7rem 1rem;
	border-radius: 0.8rem;
	height: 4rem;
	transition: all ease-in-out 0.5s;
	margin-right: -2rem;
}

.NewListItemInput:hover,
.NewListItemInput:focus {
	box-shadow: 0 0 1em #00000013;
}

.NewListItemInput:focus {
	outline: none;
}

.NewListItemInput::-webkit-input-placeholder {
	font-weight: 100;
	color: #ccc;
}

.NewListItemInput:focus + .search__button {
	background-color: #f0eeee;
}
