.App {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.Main {
	grid-column: 2/12;
	margin: 4rem 0;
	padding: 4rem;
	display: flex;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.Main-LeftTag,
.Main-RightTag {
	width: 50%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
}

.Main-LeftTag p {
	margin-bottom: 2rem;
}

.Main-LeftTag--ImageContainer {
	width: 100%;
}

.Main-LeftTag--ImageContainer img {
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 100%;
}
